go 1.22

use (
	./series/01
	./series/02
	./series/03
	./series/04
	./series/05
	./series/06
	./series/07
	./series/08
	./series/09
	./series/10
	./series/11
	./series/12
	./series/13
	./series/14
	./series/15
	./series/16
	./series/17
	./series/18
	./series/19
	./series/20
	./series/21
	./series/22
	./series/23
	./series/24
	./series/25
	./series/26
	./series/27
	./series/28
	./series/29
	./series/30
	./series/31
	./series/32
	./series/33
	./series/34
	./series/35
)
